In [1]:
import numpy as np
import pandas as pd

In [4]:
train=pd.read_csv('Training_set.csv')
train.head()

,Unnamed: 0,respondent_id,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,...,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation,h1n1_vaccine,seasonal_vaccine
0,1516,1516,1.0,1.0,0.0,1.0,0.0,0.0,0.0,NaN,...,Own,Employed,lzgpxyit,"MSA, Not Principle City",0.0,0.0,wlfvacwt,xtkaffoo,0,0
1,6208,6208,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,...,NaN,Not in Labor Force,oxchjgsf,Non-MSA,1.0,0.0,NaN,NaN,0,0
2,9428,9428,3.0,2.0,1.0,1.0,0.0,1.0,1.0,1.0,...,Own,Employed,oxchjgsf,"MSA, Not Principle City",0.0,0.0,fcxhlnwr,mxkfnird,0,0
3,22764,22764,2.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,...,Rent,Employed,qufhixun,"MSA, Principle City",1.0,0.0,fcxhlnwr,haliazsg,0,1
4,1738,1738,2.0,2.0,1.0,0.0,0.0,1.0,1.0,0.0,...,Rent,Employed,oxchjgsf,"MSA, Not Principle City",0.0,2.0,fcxhlnwr,cmhcxjea,1,1

In [18]:
#check no missing values are left 
train.isna().sum()

Unnamed: 0                         0
respondent_id                      0
h1n1_concern                      77
h1n1_knowledge                    99
behavioral_antiviral_meds         58
behavioral_avoidance             169
behavioral_face_mask              16
behavioral_wash_hands             33
behavioral_large_gatherings       72
behavioral_outside_home           66
behavioral_touch_face            100
doctor_recc_h1n1                1737
doctor_recc_seasonal            1737
chronic_med_condition            794
child_under_6_months             679
health_worker                    667
health_insurance                9999
opinion_h1n1_vacc_effective      327
opinion_h1n1_risk                320
opinion_h1n1_sick_from_vacc      321
opinion_seas_vacc_effective      381
opinion_seas_risk                425
opinion_seas_sick_from_vacc      444
age_group                          0
education                       1176
race                               0
sex                                0
income_poverty                  3622
marital_status                  1181
rent_or_own                     1704
employment_status               1217
hhs_geo_region                     0
census_msa                         0
household_adults                 208
household_children               208
employment_industry            10868
employment_occupation          10977
h1n1_vaccine                       0
seasonal_vaccine                   0
dtype: int64

In [21]:
train.shape

(21708, 39)

In [19]:
#eliminate null values

#for float types

train=train.fillna(train.mean())

#for string types
train=train.fillna('No category')

In [20]:
train.isna().sum()

Unnamed: 0                     0
respondent_id                  0
h1n1_concern                   0
h1n1_knowledge                 0
behavioral_antiviral_meds      0
behavioral_avoidance           0
behavioral_face_mask           0
behavioral_wash_hands          0
behavioral_large_gatherings    0
behavioral_outside_home        0
behavioral_touch_face          0
doctor_recc_h1n1               0
doctor_recc_seasonal           0
chronic_med_condition          0
child_under_6_months           0
health_worker                  0
health_insurance               0
opinion_h1n1_vacc_effective    0
opinion_h1n1_risk              0
opinion_h1n1_sick_from_vacc    0
opinion_seas_vacc_effective    0
opinion_seas_risk              0
opinion_seas_sick_from_vacc    0
age_group                      0
education                      0
race                           0
sex                            0
income_poverty                 0
marital_status                 0
rent_or_own                    0
employment_status              0
hhs_geo_region                 0
census_msa                     0
household_adults               0
household_children             0
employment_industry            0
employment_occupation          0
h1n1_vaccine                   0
seasonal_vaccine               0
dtype: int64

In [26]:
train_y=train.iloc[:,37:]
train_y

train_x=train.iloc[:,0:37]
train_x

,Unnamed: 0,respondent_id,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,...,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation
0,1516,1516,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.336244,...,No category,Not Married,Own,Employed,lzgpxyit,"MSA, Not Principle City",0.0,0.0,wlfvacwt,xtkaffoo
1,6208,6208,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.000000,...,No category,Married,No category,Not in Labor Force,oxchjgsf,Non-MSA,1.0,0.0,No category,No category
2,9428,9428,3.0,2.0,1.0,1.0,0.0,1.0,1.0,1.000000,...,"<= $75,000, Above Poverty",Not Married,Own,Employed,oxchjgsf,"MSA, Not Principle City",0.0,0.0,fcxhlnwr,mxkfnird
3,22764,22764,2.0,1.0,0.0,1.0,0.0,1.0,1.0,1.000000,...,"<= $75,000, Above Poverty",Not Married,Rent,Employed,qufhixun,"MSA, Principle City",1.0,0.0,fcxhlnwr,haliazsg
4,1738,1738,2.0,2.0,1.0,0.0,0.0,1.0,1.0,0.000000,...,"<= $75,000, Above Poverty",Not Married,Rent,Employed,oxchjgsf,"MSA, Not Principle City",0.0,2.0,fcxhlnwr,cmhcxjea
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21703,770,770,3.0,1.0,0.0,1.0,0.0,1.0,1.0,0.000000,...,No category,Married,Own,Not in Labor Force,oxchjgsf,Non-MSA,1.0,0.0,No category,No category
21704,11595,11595,3.0,1.0,1.0,1.0,0.0,1.0,1.0,1.000000,...,"<= $75,000, Above Poverty",Married,Rent,Employed,mlyzmhmf,"MSA, Principle City",1.0,2.0,xicduogh,qxajmpny
21705,21939,21939,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,"<= $75,000, Above Poverty",Married,Own,Not in Labor Force,fpwskwrf,Non-MSA,1.0,0.0,No category,No category
21706,22370,22370,3.0,1.0,0.0,1.0,0.0,1.0,1.0,1.000000,...,"<= $75,000, Above Poverty",Married,Own,Not in Labor Force,lzgpxyit,Non-MSA,1.0,0.0,No category,No category
21707,20245,20245,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.000000,...,"<= $75,000, Above Poverty",Married,Own,Employed,atmpeygn,"MSA, Not Principle City",1.0,0.0,nduyfdeo,pvmttkik

In [75]:
train.race.unique()

array(['White', 'Black', 'Hispanic', 'Other or Multiple'], dtype=object)

In [67]:
dict={}
for i in range(len(train.race)):
    if train.iloc[i][-1]==1:
        if train.race[i] in dict.keys():
            dict[train.race[i]]+=1
        else:
            dict[train.race[i]]=1

In [68]:
dict

{'Black': 588, 'White': 8479, 'Hispanic': 476, 'Other or Multiple': 533}

In [78]:
train.education.unique()

array(['Some College', '< 12 Years', 'College Graduate', '12 Years',
       'No category'], dtype=object)

In [79]:
train.marital_status.unique()

array(['Not Married', 'Married', 'No category'], dtype=object)

In [80]:
train.sex.unique()

array(['Female', 'Male'], dtype=object)

In [88]:
count=0

for i in range(len(train.race)):
    if train.iloc[i][-2]==1 and train.iloc[i][25]=='White'and train.iloc[i][28]=='Married' and train.iloc[i][24]=='College Graduate' and train.iloc[i][26]=='Female':
        count=count+1

In [89]:
count

691

0        1.0
1        1.0
2        3.0
3        2.0
4        2.0
        ...
21703    3.0
21704    3.0
21705    1.0
21706    3.0
21707    2.0
Name: h1n1_concern, Length: 21708, dtype: float64

In [102]:
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

from sklearn.linear_model import LogisticRegression
from sklearn.multioutput import MultiOutputClassifier

from sklearn.pipeline import Pipeline

from sklearn.model_selection import train_test_split

from sklearn.metrics import roc_curve, roc_auc_score

In [107]:
#Getting the numerical categories only
numeric_cols = train_x.columns[train_x.dtypes != "object"].values

In [109]:
#Chain preprocessing into a Pipeline object

#Each step is a tuple (w.e name, sklearn transformer)
numeric_preprocessing_steps = Pipeline([('standard_scaler', StandardScaler()),
                                        ('simple_imputer', SimpleImputer(strategy='median'))])

#Creating the preprocessor stage of final pipeline

#Each entry in the transformer list is a tuple (w.e name, sklearn transformer, list of columns)
preprocessor = ColumnTransformer(transformers = [('numeric', numeric_preprocessing_steps, numeric_cols)], remainder = "drop")

In [110]:

estimators = MultiOutputClassifier(
    estimator = LogisticRegression(penalty='l2', C=1))

In [111]:

full_pipeline = Pipeline([
    ('preprocessor', preprocessor),
    ('estimators', estimators),
])

In [112]:

from sklearn import set_config
set_config('diagram')

full_pipeline

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('numeric',
                                                  Pipeline(steps=[('standard_scaler',
                                                                   StandardScaler()),
                                                                  ('simple_imputer',
                                                                   SimpleImputer(strategy='median'))]),
                                                  array(['Unnamed: 0', 'respondent_id', 'h1n1_concern', 'h1n1_knowledge',
       'behavioral_antiviral_meds', 'behavioral_avoidance',
       'behavioral_face_mask', 'behavioral_wash_hands',
       'be...
       'child_under_6_months', 'health_worker', 'health_insurance',
       'opinion_h1n1_vacc_effective', 'opinion_h1n1_risk',
       'opinion_h1n1_sick_from_vacc', 'opinion_seas_vacc_effective',
       'opinion_seas_risk', 'opinion_seas_sick_from_vacc',
       'household_adults', 'household_children'], dtype=object))])),
                ('estimators',
                 MultiOutputClassifier(estimator=LogisticRegression(C=1)))])

In [116]:
test=pd.read_csv('Test_set.csv')
test.head()

,Unnamed: 0,respondent_id,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,...,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation
0,12051,12051,2.0,2.0,0.0,1.0,0.0,1.0,1.0,1.0,...,"> $75,000",Married,Own,Employed,mlyzmhmf,"MSA, Not Principle City",1.0,1.0,arjwrbjb,xtkaffoo
1,12679,12679,2.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,...,"> $75,000",Not Married,Own,Employed,lzgpxyit,"MSA, Not Principle City",0.0,0.0,cfqqtusy,kldqjyjy
2,24820,24820,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,NaN,Married,Own,Not in Labor Force,bhuqouqj,"MSA, Principle City",2.0,0.0,NaN,NaN
3,4327,4327,1.0,2.0,0.0,1.0,0.0,1.0,0.0,0.0,...,"<= $75,000, Above Poverty",NaN,NaN,Employed,qufhixun,"MSA, Not Principle City",0.0,0.0,wxleyezf,oijqvulv
4,18727,18727,1.0,2.0,0.0,1.0,0.0,1.0,0.0,0.0,...,"<= $75,000, Above Poverty",Married,Own,Employed,oxchjgsf,"MSA, Principle City",1.0,0.0,wxleyezf,hodpvpew

In [117]:
#Training the model
full_pipeline.fit(train_x,train_y)

#Predict on evaluation set
preds = full_pipeline.predict_proba(test)
preds

[array([[0.69291977, 0.30708023],
        [0.93055224, 0.06944776],
        [0.91720316, 0.08279684],
        ...,
        [0.74684747, 0.25315253],
        [0.18447779, 0.81552221],
        [0.69900079, 0.30099921]]),
 array([[0.43644258, 0.56355742],
        [0.72906379, 0.27093621],
        [0.82651413, 0.17348587],
        ...,
        [0.48127107, 0.51872893],
        [0.0728798 , 0.9271202 ],
        [0.22125278, 0.77874722]])]

In [119]:
numpy.savetxt('pred.csv',preds, ,delimiter=',')

SyntaxError: invalid syntax (<ipython-input-119-36ef0e7cc75f>, line 1)